<a href="https://colab.research.google.com/github/rafaelfontes777/Python-Notes/blob/master/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Printing Strings**

*Show the mensage "Hello World!" 10 times on the screen.*

In [0]:
print('Hello World! ' * 100)

Show each letter in the world "Hello" using ***for*** loop

In [0]:
for x in ('Hello'):
  print(x)

Injecting a variable into a your string printing

In [0]:
my_name = "Rafael"
print("Meu nome eh " + my_name)

Meu nome eh Rafael

Formating with .format() method

In [0]:
print('Meu nome eh {}{}'.format('Rafael ','Fontes'))

Meu nome eh Rafael Fontes

In [0]:
print('Meu nome eh {2} {0} {1} {3}'.format('Rafael','Nascimento','Francisco','Fontes'))

Meu nome eh Francisco Rafael Nascimento Fontes

In [0]:
print('Meu nome eh {fr} {r} {n} {f}'.format(fr='Francisco' ,r='Rafael', n='Nascimento', f='Fontes'))

Meu nome eh Francisco Rafael Nascimento Fontes

Float formatting follows "{value:width.precision f}"

In [0]:
result = 100/777
print(result)
print('The result is {r:1.3f}'.format(r=result))

0.1287001287001287
The result is 0.129

#      **fstring**

In [0]:
name = 'Rafael'
print(f'Meu nome eh {name}')

Meu nome eh Rafael

In [0]:
name = 'Fontes'
age = 28
print(f'{name} have {age} years old.')

Fontes have 28 years old.